video {
  display: none;
}

.toSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 0;

  &:last-child {
    padding: 0;
    margin: 0;
  }

  & > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    & > .content {
      max-width: 1200px;
      position: relative;

      img {
        filter: grayscale(100%);
      }

      img:hover {
        mix-blend-mode: normal;
        filter: none;
      }

      .block {
        position: relative;
        height: 600px;
        display: grid;
        grid-column: 1;
        grid-template-columns: minmax(500px, 1fr) minmax(500px, 1fr);

        > div {
          position: relative;
          text-align: left;
        }

        .text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;

          h1 {
            margin: 0;
            padding: 0;
            font-size: 45px;
            color: var(--color_whitesmoke);
            line-height: 50px;
            font-weight: 900;
          }
        }

        .text-intro {
          font-family: 'Roboto', sans-serif;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          h1 {
            margin: 0;
            padding: 0;
            font-size: 70px;
            font-weight: 900;
            color: var(--color_whitesmoke);
            line-height: 50px;
          }

          h3 {
            font-size: 25px;
            color: var(--color_whitesmoke);
          }

          p {
            color: var(--color_whitesmoke_darken_2);
          }
        }

        .preview {
          position: relative;

          img {
            z-index: 100;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            box-shadow: inset 0 0 100px 50px black;
          }

          .preview-overlay {
            position: absolute;
            top: 50%;
            left: 50%;
            display: none;
            width: 100%;
            height: 100%;
            align-items: center;
            justify-content: center;
            z-index: 101;
            color: tomato;

            transform: translate(-50%, -50%);
            background: none;
            font-weight: 900;

            /* // animation: leaves 0.2s ease-in-out infinite alternate;
            // -webkit-animation: leaves 0.2s ease-in-out infinite alternate; */

            span {
              background-color: rgba(0, 0, 0, 0.7);
              position: absolute;
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
              font-size: 6em;
              border-radius: 50%;
              box-shadow: 0 0 45px 0 black;
              &:hover {
                font-size: 7em;
              }
            }
          }

          &:hover {
            cursor: pointer;

            .preview-overlay {
              visibility: visible;
              display: block;
            }
          }
        }
      }
    }
  }
}
