<section id="intro">
  <div class="container">
    <div class="content">
      <div class="text-intro">
        <h1 class="name">Marek</h1>
        <h1 class="surname">Kondratjev</h1>
        <br />
        <p>Filmmaker. Editor. Storyteller</p>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="content">
      <div class="block">
        <div>
          <div class="text-intro">
            <h1>Marek</h1>
            <h1>Kondratjev</h1>
            <br />
            <p>Filmmaker. Editor. Storyteller</p>
          </div>
        </div>
        <div
          class="preview"
          (click)="(onPlay)"
        >
          <img
            src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExODU4OWVkY2U4ODg5NGU2YzZkYTNlMzkzNjQzMWM3OWQ3YjVlYmJkMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/j3PbynAZgdGnpzh3Ua/giphy.gif"
          />
          <div class="overlay"></div>
        </div>
      </div>
    </div>
  </div> -->
</section>
