<section
  id="intro"
  class="toSection trapezoid-reverse bg__black"
>
  <div class="container">
    <div class="content">
      <div class="block">
        <div>
          <div class="text-intro">
            <h1>Marek</h1>
            <h1>Kondratjev</h1>
            <br />
            <h3>Filmmaker. Editor. Storyteller</h3>
          </div>

          <div class="icon-in-block">
            <div class="icon">
              <span class="icon-text">More</span>
            </div>
          </div>
        </div>
        <div
          class="preview"
          (click)="(onPlay)"
        >
          <img
            src="https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExODU4OWVkY2U4ODg5NGU2YzZkYTNlMzkzNjQzMWM3OWQ3YjVlYmJkMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/j3PbynAZgdGnpzh3Ua/giphy.gif"
          />
          <div class="preview-overlay">
            <!-- TODO -->
            <!-- <span class="material-symbols-outlined"> play_arrow </span> -->
            <span> </span>
            <mat-icon fontIcon="play_arrow"></mat-icon>
          </div>
        </div>
      </div>

      <video
        id="vid"
        controls
        [autoplay]="false"
        [muted]="true"
        loop="true"
        controlsList="nodownload noremoteplayback noplaybackrate pictureinpicture"
      >
        <source
          src="assets/video/test.mp4"
          type="video/mp4"
        />
      </video>
    </div>
  </div>
</section>
