/* Text intro */
.text-intro {
  margin-bottom: 40px;

  h1 {
    /* &::first-letter {
      all: unset;
    } */
    width: max-content;
    font-size: 150px;
    font-weight: 900;
    /* color: var(--c_red_l1); */
    color: transparent;
    /* color: black; */
    line-height: 144px;
    text-decoration: 10px underline whitesmoke;
    /* text-shadow: 0 0 2px var(--c_red_l1); */
    -webkit-text-stroke: 1px whitesmoke;
    /* mix-blend-mode: screen; */
    /* background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif); */
    /* background-blend-mode: color; */
    background-size: cover;
    /* color: transparent; */
    -moz-background-clip: text;
    -webkit-background-clip: text;
    /* text-shadow: 2px 2px 1px black; */
    /* filter: grayscale(1); */
    filter: drop-shadow(1px 1px 0px var(--c_red_l1));
    &.name {
      margin-left: 97px;
    }
  }

  p {
    text-align: right;
    font-size: 30px;
    font-weight: 400;
    margin: 4px 0 0 50px;
    color: var(--color_whitesmoke);
    text-shadow: 1px 1px whitesmoke;
  }
}

/* Preview image */
.preview {
  position: relative;
  transform: rotate(-30deg);
  opacity: 0.3;

  img {
    z-index: 100;
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    z-index: 101;
    color: var(--c_red_l1);

    transform: translate(-50%, -50%);
    font-weight: 900;
    box-shadow: inset 0 0 100px 50px black;
  }
}
