<h1 class="page-header">Contact me</h1>

<form
  id="contacts"
  [formGroup]="formGroup"
  (submit)="$event.preventDefault()"
>
  <fieldset>
    <label for="email">Email:</label>
    <input
      type="email"
      placeholder="email@example.com"
      required
      formControlName="email"
    />
    <label for="text">Text message:</label>
    <textarea
      cols="30"
      rows="7"
      placeholder="..."
      formControlName="text"
    >
    </textarea>
  </fieldset>
  <button
    [disabled]="formGroup.invalid"
    class="form-btn"
    type="submit"
  >
    Send
  </button>
</form>
