<section class="toSection trapezoid-reverse bg__black height__vh">
  <div class="container">
    <div class="content trapezoid">
      <div class="block">
        <div class="preview trapezoid-reverse">
          <img
            src="assets/img/png/video-everglow.jpg"
            alt="Solid logo"
          />
        </div>
        <div class="block__text">
          <div class="text-home">
            <h1>Inspiration</h1>
            <h5>Jan, 2021</h5>
            <p>
              Cupiditate autem, ad unde nemo vel mollitia, ab veniam cum atque
              obcaecati excepturi maiores! Doloremque maiores, fuga quaerat
              aliquid veritatis atque dicta unde repellendus rem accusamus
              dolores quam pariatur obcaecati, nobis, maxime facilis
              necessitatibus assumenda eos quis recusandae. Vel, rem
              exercitationem recusandae accusamus aspernatur sequi quaerat
              aperiam animi, quos est voluptatem saepe id a numquam tempora
              praesentium veniam iusto distinctio nemo odio cupiditate quam
              eligendi. Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Debitis, labore amet recusandae ex ea esse alias nesciunt at rerum
              non earum?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Info 2 -->
<section class="toSection trapezoid-reverse bg__black height__vh">
  <div class="container">
    <div class="content trapezoid">
      <div class="block">
        <div class="block__text">
          <div class="text-home">
            <h1>Inspiration</h1>
            <h5>Jan, 2021</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. In
              magnam a quis recusandae aperiam sequi quia vitae laboriosam et
              consequuntur! Aperiam sapiente sint laboriosam, voluptatibus quo,
              impedit iste quisquam commodi labore recusandae nemo! Illo ipsum
              veniam minima laudantium nulla tempore eos, cumque culpa
              voluptatum voluptate laboriosam voluptates iste esse corporis ab
              eum accusantium voluptatibus, excepturi reiciendis harum quas in
              deserunt! Cupiditate autem, ad unde nemo vel mollitia, ab veniam
              cum atque obcaecati excepturi maiores! Doloremque maiores, fuga
              quaerat aliquid veritatis atque dicta unde repellendus rem
              accusamus dolores quam pariatur obcaecati, nobis, maxime facilis
              necessitatibus assumenda eos quis recusandae. Vel, rem
              exercitationem recusandae accusamus aspernatur sequi quaerat
              aperiam animi, quos est voluptatem saepe id a numquam tempora
              praesentium veniam iusto distinctio nemo odio cupiditate quam
              eligendi.
            </p>
          </div>
        </div>
        <div class="preview">
          <img
            src="assets/img/png/video-everglow.jpg"
            alt="Hmm"
          />
        </div>
      </div>
    </div>
  </div>
</section>
