<nav>
  <a
    class="page-header"
    routerLink="/"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    ariaCurrentWhenActive="page"
  >
    <mat-icon
      fontIcon="home_outlined"
      class="nav-mobile-icon"
    ></mat-icon>
  </a>

  <a
    routerLink="/portfolio"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon
      fontIcon="photo_library"
      class="nav-mobile-icon"
    ></mat-icon>
  </a>

  <a
    routerLink="/info"
    home
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon
      fontIcon="info"
      class="nav-mobile-icon"
    ></mat-icon>
  </a>

  <a
    routerLink="/contacts"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
  >
    <mat-icon
      fontIcon="call"
      class="nav-mobile-icon"
    ></mat-icon>
  </a>
</nav>
