@switch (gridView()) {
  @case ('1') {
    <section class="grid view-1" dir="ltr">
      @for (portfolio of portfolios(); track portfolio) {
        <div class="preview" (click)="openDialog(portfolio)">
          <video
            #video
            loop
            muted
            autoplay
            playsinline
            [src]="portfolio.preview"
            [poster]="portfolio.preview"></video>
          <!-- <img
            type="image/webp"
            width="920"
            height="500"
            [ngSrc]="portfolio.preview"
            loading="lazy"
            decoding="async"
            fetchpriority="high"
            [alt]="portfolio.title"
            ngOptimizedImage /> -->
        </div>
      }
    </section>
  }
  @case ('2') {
    <section class="grid view-2">
      @for (portfolio of portfolios(); track portfolio) {
        <div>
          <img
            width="450"
            height="330"
            [ngSrc]="portfolio.preview"
            loading="lazy" />
        </div>
      }
    </section>
  }
  @case ('3') {
    <section class="grid view-3">
      @for (portfolio of portfolios(); track portfolio) {
        <div class="preview" (click)="openDialog(portfolio)">
          <video
            #video
            loop
            muted
            autoplay
            playsinline
            [attr.playbackRate]="0.25"
            [src]="portfolio.preview"
            [poster]="portfolio.preview"></video>
          <p>{{ portfolio.title }}</p>
        </div>
      }
    </section>
  }
  @default {
    No content at the moment
  }
}
