:host {
  width: 920px;
  height: 600px;

  scrollbar-color: tomato rgba(0, 0, 0, 0.3);
  scrollbar-width: 5em;
  ::-webkit-scrollbar-button {
    background-color: green;
    color: yellow;
  }

  section {
    &.grid {
      height: 500px;
      position: relative;
      display: grid;
      gap: 20px 20px;
      grid-template-rows: max-content;

      overflow: hidden;
      overflow-y: auto;
      scroll-snap-type: y mandatory;

      scrollbar-gutter: stable;

      margin-right: -32px;
      padding-right: 10px;

      img {
        width: 100%;
        object-fit: cover;
        filter: grayscale(1);

        text-align: center;
        scroll-snap-align: center;

        &:hover {
          cursor: pointer;
          filter: none;
          transition: filter 0.5s;
        }
      }

      &.view-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.view-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.view-3 {
        grid-template-columns: repeat(3, 1fr);
        div {
          height: 160px;
        }
      }
    }
  }
}
