:host {
  width: 100%;

  scrollbar-color: tomato rgba(0, 0, 0, 0.3);
  scrollbar-width: 5em;
  ::-webkit-scrollbar-button {
    background-color: green;
    color: yellow;
  }

  video {
    filter: grayscale(1);
  }

  video:hover {
    cursor: pointer;
    filter: none;
    transition: filter 0.5s;
  }

  section {
    padding: 20px 0;
    &.grid {
      z-index: 9999;
      height: 56vh;

      position: relative;
      display: grid;
      gap: 10px 10px;
      grid-template-rows: max-content;

      overflow: hidden;
      overflow-y: scroll;
      scroll-snap-type: y mandatory;

      scrollbar-gutter: stable;

      /* margin-right: -32px; */
      padding-right: 10px;

      &.view-1 {
        grid-template-columns: repeat(1, 1fr);
      }

      &.view-2 {
        grid-template-columns: repeat(2, 1fr);
      }

      &.view-3 {
        grid-template-columns: repeat(3, 1fr);
        aspect-ratio: 16 / 9;

        div {
          /* height: 160px; */
          position: relative;

          display: flex;
          align-items: end;
          justify-content: center;

          &:hover {
            p {
              color: tomato;
            }
          }

          video,
          img {
            width: 100%;
            object-fit: cover;
            filter: grayscale(1);

            aspect-ratio: 16 / 9;

            text-align: center;
            scroll-snap-align: center;

            &:hover {
              cursor: pointer;
              filter: none;
              transition: filter 0.5s;
            }
          }

          p {
            /* width: 70%; */
            padding: 10px 20px;

            pointer-events: none;
            position: absolute;

            text-transform: uppercase;
            font-size: 13px;
            font-weight: 600;
            text-align: center;
            text-shadow: -1px 0 black;
            text-wrap: balance;

            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      }
    }
  }
}
