<footer>
  <div class="contacts">
    <a
      href="#"
      class="contacts-group"
    >
      <mat-icon svgIcon="telegram"></mat-icon>
    </a>
    <a
      href="#"
      class="contacts-group"
    >
      <mat-icon svgIcon="youtube"></mat-icon>
    </a>
    <a
      href="#"
      class="contacts-group"
    >
      <mat-icon svgIcon="facebook"></mat-icon>
    </a>
    <a
      href="#"
      class="contacts-group"
    >
      <mat-icon svgIcon="instagram"></mat-icon>
    </a>
    <a
      href="#"
      class="contacts-group"
    >
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a
      href="#"
      class="contacts-group"
    >
      <mat-icon svgIcon="gmail"></mat-icon>
    </a>
  </div>
  <p>
    Copyright MK. <br />Developed by
    <span>
      <a href="#">&#64;dpaniq</a> / <a href="#">&#64;Nastya</a> /
      <a href="#">&#64;mk</a> /
      <a href="#">&#64;Valletta</a>
    </span>
  </p>
</footer>
