<footer>
  <div class="logotype">
    <a routerLink="/">
      <mat-icon svgIcon="mkWhite"></mat-icon>
    </a>
  </div>
  <div>
    <p class="fullname">Marek Kondratjev</p>
    <div class="social">
      <a
        href="#"
        target="_blank"
        class="social-group"
      >
        <mat-icon svgIcon="telegram"></mat-icon>
      </a>
      <a
        href="#"
        target="_blank"
        class="social-group"
      >
        <mat-icon svgIcon="youtube"></mat-icon>
      </a>
      <a
        href="#"
        target="_blank"
        class="social-group"
      >
        <mat-icon svgIcon="facebook"></mat-icon>
      </a>
      <a
        href="#"
        target="_blank"
        class="social-group"
      >
        <mat-icon svgIcon="instagram"></mat-icon>
      </a>
      <a
        href="#"
        target="_blank"
        class="social-group"
      >
        <mat-icon svgIcon="linkedin"></mat-icon>
      </a>
      <a
        href="#"
        target="_blank"
        class="social-group"
      >
        <mat-icon svgIcon="gmail"></mat-icon>
      </a>
    </div>
    <p>Copyright © <span class="brand">MK Rec Studio</span> ‒ 2024</p>
    <p>
      Developed by
      <span>
        <a
          href="#"
          target="_blank"
          >&#64;dpaniq</a
        >
        /
        <a
          href="#"
          target="_blank"
          >&#64;Nastya</a
        >
        /
        <a
          href="#"
          target="_blank"
          >&#64;mkrec_studio</a
        >
        /
        <a
          href="#"
          target="_blank"
          >&#64;Valletta</a
        >
      </span>
    </p>
  </div>
</footer>
