:root {
  --color_whitesmoke: rgba(245, 245, 245, 1);
  --color_whitesmoke_darken_1: rgba(245, 245, 245, 0.8);
  --color_whitesmoke_darken_2: rgba(245, 245, 245, 0.6);
  --color_whitesmoke_darken_3: rgba(245, 245, 245, 0.4);
  --color_whitesmoke_darken_4: rgba(245, 245, 245, 0.2);

  --color_gray: #282c34;
  --gray: #282c34;
  --gray_dark: #2e3440;
}
