* {
  box-sizing: border-box;
  font-weight: 100;
  font-family: 'Roboto', sans-serif;
  color: var(--color_whitesmoke);
}

html,
body {
  height: 100%;
}

body {
  .camera {
    pointer-events: none;

    .camera-corners {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: 50px;
      mix-blend-mode: color;

      --lineWidth: 5px;
      --line1Length: calc(50px + 8vh);
      --line2Length: calc(50px + 4vh);
      --lineColor: rgb(59, 59, 59);
      --linearGradientColor: linear-gradient(
        var(--lineColor),
        var(--lineColor)
      );
      --lineColorPair: var(--linearGradientColor), var(--linearGradientColor);
      --lineHorizontal: var(--line1Length) var(--lineWidth);
      --lineVertical: var(--lineWidth) var(--line2Length);

      background-image: var(--lineColorPair), var(--lineColorPair),
        var(--lineColorPair), var(--lineColorPair);
      background-repeat: no-repeat;
      background-size: var(--lineVertical), var(--lineHorizontal),
        var(--lineVertical), var(--lineHorizontal), var(--lineVertical),
        var(--lineHorizontal), var(--lineVertical), var(--lineHorizontal);
      background-position:
        left top,
        left top,
        left bottom,
        left bottom,
        right top,
        right top,
        right bottom,
        right bottom;
    }
  }
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: tomato;
  outline: 1px solid #c74d38;
}

body {
  margin: 0;
  background-image: url('../assets/bg/16mm_20.webp');
  background-repeat: repeat;
  background-size: cover;
  background-position: top 200px;
  backdrop-filter: grayscale(1) brightness(120%) contrast(1);
  background-attachment: fixed;
}

/* 

https://pixexid.com/image/a-minimalist-composition-with-a-single-white-line-on-a-black-background-9vxer53u
*/
body:has(app-home-page) {
  /* background-image: url('../assets/bg/bg2.gif'); */
  /* background-image: url('../assets/bg/video_lines.gif'); */
  /* background-image: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExODU4OWVkY2U4ODg5NGU2YzZkYTNlMzkzNjQzMWM3OWQ3YjVlYmJkMiZlcD12MV9pbnRlcm5hbF9naWZzX2dpZklkJmN0PWc/j3PbynAZgdGnpzh3Ua/giphy.gif'); */

  /* background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(1px) grayscale(1); */
}

body:has(app-info-page) {
  /* background-image: url('../assets/img/png/video-everglow.jpg'); */
  /* background-image: url('../assets/bg/video_lines.gif');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: none; */
}

body:has(app-about-page) {
  /* background-image: url('../assets/img/png/video-everglow.jpg'); */
  /* background-image: url('../assets/bg/video_lines.gif');
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: none; */
}

a {
  color: var(--color_whitesmoke);
  text-decoration: none;

  &:focus,
  &:visited {
    all: unset;
  }

  &:hover {
    color: tomato;
  }
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: whitesmoke;

  /* &::first-letter {
    color: tomato;
  } */
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}

p {
  color: whitesmoke;
  font-weight: 300;
  text-wrap: balance;
}

/* Forms */
input,
textarea {
  box-shadow: inset 0px 0px 1px 1px var(--color_whitesmoke_darken_4);
}

button {
  border: 1px solid var(--color_whitesmoke);
  width: 150px;
  background-color: var(--footer-color);
  color: whitesmoke;
  padding: 10px 15px;

  &.form-btn {
    border: 1px solid var(--color_whitesmoke);
  }

  &:hover {
    color: tomato;
    transition:
      border ease 0.2s,
      color ease 0.2s;
  }

  &:disabled {
    color: var(--color_whitesmoke_darken_3);
    border: 1px solid var(--color_whitesmoke_darken_3);
    cursor: not-allowed;
    background-color: var(--color_whitesmoke_darken_4);
  }
}
