:host {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;

  justify-content: center;
  align-items: center;
}

.brand {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: calc(100vh - 80%);

  padding: 40px;

  img.studio {
    padding: 10px 0;
    border-top: 5px solid whitesmoke;
  }

  animation: zoom ease-in-out 5s;
  animation-direction: alternate;
  animation-timing-function: both;
}

@keyframes zoom {
  0% {
    filter: blur(10px);
    transform: scale3d(1.02, 1.02, 1);
  }

  33% {
    transform: scale(1.05);
  }

  50% {
    filter: blur(1px);
    transform: scale(1.02);
    transform: scale3d(1.02, 1.02, 1);
  }

  66% {
    transform: scale(1.01);
  }

  100% {
    filter: none;
    transform: none;
  }
}
