app-header {
  height: 10vh;
  display: fixed;
  z-index: 100;
  box-shadow: 0 10px 25px 1px black;
  background-color: black;
  width: 100%;
}

app-camera-corners-layer {
  z-index: 101;
}

app-footer {
  height: 10vh;
  display: fixed;
  z-index: 100;
  box-shadow: 0 -10px 25px 1px black;
  background-color: black;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
}

.video-brackground {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  pointer-events: none;

  opacity: 0.5;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(5px) grayscale(1) brightness(0.7);
  }
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: Start;
  justify-content: center;
  position: relative;
  /* padding: 60px 0 0; */
}

@media (min-width: 768px) {
  app-nav-mobile {
    display: none;
  }
}

@media (max-width: 576px) {
  app-header,
  app-footer {
    display: none;
  }

  main {
    width: 90%;
    height: 85vh;
    overflow: hidden;
    align-items: center;
  }
}
