app-header {
  height: 10vh;
}

app-footer {
  height: 10vh;
}

main {
  width: 1000px;
  height: 80vh;
  display: flex;
  align-items: Start;
  justify-content: center;
  position: relative;
  padding: 60px 0 0;
}

@media (min-width: 768px) {
  app-nav-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  app-header,
  app-footer {
    display: none;
  }

  main {
    width: 90%;
    height: 85vh;
    overflow: hidden;
    align-items: center;
  }
}
