<app-header />
<main>
  <router-outlet />
</main>
<app-footer />

<dialog #dialog>
  <video
    #video
    width="800"
    controls
    autoplay
  >
    <source
      #source
      [src]="videoURL$ | async | safe: 'resourceUrl'"
      type="video/mp4"
    />

    Your browser does not support HTML video.
  </video>

  <button (click)="dialog.close()">
    <mat-icon fontIcon="close"></mat-icon>
  </button>
</dialog>

<div class="camera">
  <!-- Camera angles -->
  <div class="camera-corners"></div>
  <div class="rec">
    <img
      width="35px"
      src="assets/brand/dot.svg"
    />
    <img
      width="80px"
      src="assets/brand/rec.svg"
    />
  </div>

  <!-- <div class="brand-wrapper">
    <img
      class="timeline-active-image"
      [src]="timelineImage()"
    />
  </div> -->
</div>
