app-header {
  height: 10vh;
}

main {
  width: 1000px;
  height: 80vh;
  display: flex;
  align-items: Start;
  justify-content: center;
  position: relative;
  padding: 60px 0 0;
}

app-footer {
  height: 10vh;
}

@media (min-width: 768px) {
  app-nav-mobile {
    display: none;
  }
}

@media (max-width: 768px) {
  app-header,
  app-footer {
    display: none;
  }

  main {
    width: 90%;
    height: 85vh;
    overflow: hidden;
    align-items: center;
  }

  #timer {
    bottom: 105px;
    right: 25px;
    color: var(--color_whitesmoke_darken_4);
    font-size: 15px;
    font-weight: 500;
    z-index: 9999;
  }

  #quality-resolution {
    right: unset;
    left: 25px;
    bottom: 105px;
    font-size: 15px;
    font-weight: 500;
    color: var(--color_whitesmoke_darken_4);
  }

  #battery {
    top: 25px;
    left: 25px;
  }
}
