<header>
  <nav>
    <ul>
      <li>
        <a
          class="page-header"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          >{{ navigation.home[lang()] }}</a
        >
      </li>
      <li>
        <a
          routerLink="/portfolio"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ navigation.portfolio[lang()] }}</a
        >
      </li>

      <li>
        <a
          routerLink="/info"
          home
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ navigation.info[lang()] }}</a
        >
      </li>
      <li>
        <a
          routerLink="/contacts"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >{{ navigation.contactMe[lang()] }}</a
        >
      </li>
    </ul>
  </nav>

  <mat-button-toggle-group
    class="locale-toggle"
    name="languages"
    [value]="lang()"
    (change)="onChangeLanguage($event)"
  >
    <mat-button-toggle value="en">EN</mat-button-toggle>
    <mat-button-toggle value="lv">LV</mat-button-toggle>
    <mat-button-toggle value="ru">RU</mat-button-toggle>
  </mat-button-toggle-group>
</header>
