header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  padding: 35px 0 !important;
  z-index: 9999;
}

@media (max-width: 768px) {
  app-nav {
    display: none;
  }
}
