<header>
  <!-- <div id="logotype">
    <a routerLink="/">
      <mat-icon svgIcon="mkWhite"></mat-icon>
    </a>
  </div> -->
  <nav>
    <ul>
      <li>
        <a
          class="page-header"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/portfolio"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Portfolio</a
        >
      </li>
      <!-- <li>
        <a
          class="trapezoid"
          routerLink="/about"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >About</a
        >
      </li> -->
      <li>
        <a
          routerLink="/info"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Info</a
        >
      </li>
      <li>
        <a
          routerLink="/contacts"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Contact me</a
        >
      </li>
    </ul>
  </nav>
</header>
