<header>
  <nav>
    <ul>
      <li>
        <a
          class="page-header"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          ariaCurrentWhenActive="page"
        >
          {{ navigation.home[lang()] }}
        </a>
      </li>
      <li>
        <a
          routerLink="/portfolio"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ navigation.portfolio[lang()] }}
        </a>
      </li>

      <li>
        <a
          routerLink="/info"
          home
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ navigation.info[lang()] }}
        </a>
      </li>
      <li>
        <a
          routerLink="/contacts"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          {{ navigation.contactMe[lang()] }}
        </a>
      </li>
    </ul>
  </nav>
</header>
