header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  padding: 35px 0 !important;
  z-index: 9999;
  border-top: 1px solid tomato;
  background-image: url('/assets/');

  nav {
    position: relative;
    top: 0;
    z-index: 15;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--color_whitesmoke);

    > ul {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 30px;

      li {
        margin-right: 20px;
        color: var(--color_whitesmoke_darken_2);

        a {
          filter: blur(1px);
          text-shadow: 0 0 20px tomato;
          &.active {
            color: tomato;
            /* border-bottom: 1px solid; */
            filter: none;
            font-weight: 300;
            border-bottom: 2px solid transparent;
            border-image: linear-gradient(
              0.25turn,
              rgba(56, 2, 155, 0),
              rgba(255, 99, 71, 0.7),
              rgba(56, 2, 155, 0)
            );
            border-image-slice: 1;
          }
        }
      }
    }
  }
}

#logotype {
  /* color: white;
  font-size: 50px;
  display: flex;
  align-items: center;
  z-index: 9999;
  width: max-content;
  height: 100px;
  padding: 5px 100px;
  text-align: center; */

  filter: blur(1px);
  text-shadow: 0 0 20px tomato;
  mix-blend-mode: color-burn;

  em {
    color: tomato;
  }

  .rec {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: tomato;
  }

  &:hover {
    cursor: pointer;
    font-weight: 300;
  }

  mat-icon {
    width: 200px;
    height: 100px;

    &:hover {
      svg {
        fill: tomato;
      }
    }
    /* background-color: tomato;
    mix-blend-mode: color-burn; */
  }

  /* TODO: Does't work */
  &:hover ::ng-deep mat-icon svg {
    fill: tomato;
  }
}
