header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 0;
  padding: 35px 0 !important;
  z-index: 9999;

  nav {
    position: relative;
    top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: var(--color_whitesmoke);

    > ul {
      display: inline-flex;
      flex-wrap: wrap;
      gap: 30px;
      align-items: center;

      li {
        color: var(--color_whitesmoke_darken_2);

        a {
          font-weight: 700;
          filter: blur(1px);
          text-shadow: 1px 1px 0 rgb(0, 0, 0);
          text-align: center;

          &.active {
            color: tomato;

            /* border-bottom: 1px solid; */
            filter: none;
            border-bottom: 2px solid transparent;
            /* border-image: linear-gradient(
              0.25turn,
              rgba(56, 2, 155, 0),
              rgba(255, 99, 71, 0.7),
              rgba(56, 2, 155, 0)
            ); */
            /* border-image-slice: 1; */
          }
        }
      }
    }
  }
}

.locale-toggle {
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid tomato;

  ::ng-deep mat-button-toggle {
    padding: 6px;
  }

  ::ng-deep mat-button-toggle:hover {
    background-color: color-mix(in srgb, tomato 80%, black);
    color: whitesmoke;
  }

  ::ng-deep mat-button-toggle.mat-button-toggle-checked span {
    color: whitesmoke;
  }

  mat-button-toggle:hover {
    color: tomato;
  }

  button:hover {
    color: tomato;
  }

  .mat-button-toggle-checked {
    background-color: tomato;
    color: whitesmoke;
  }
}
