<section>
  <div class="brand-wrapper">
    <img
      width="800"
      height="560"
      class="timeline-active-image"
      [src]="timelineImage()"
    />
    <img
      class="brand-image"
      src="assets/brand/mk-white.svg"
    />
    <br />
    <br />
  </div>

  <div
    #scrollContainer
    class="scroll-container"
  >
    <div class="content width__wv">
      <!-- <div class="grid-row portfolio">
        @for (
          portfolio of portfolioList;
          track portfolio;
          let idx = $index, even = $even
        ) {
          <div
            class="preview"
            [class.show]="idx === activePreview()"
            (click)="activePreview.set(idx)"
          >
            <img
              width="300"
              [src]="portfolio.preview"
              loading="lazy"
            />
          </div>
        }
      </div> -->
    </div>
  </div>
</section>
