@use '@angular/material' as mat;
@use '../_theme-colors' as my-theme;

$theme: mat.define-theme(
  (
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
      theme-type: dark,
    ),
    typography: (
      plain-family: Roboto,
      brand-family: Open Sans,
      bold-weight: 900,
      medium-weight: 500,
      regular-weight: 300,
    ),
    // ✅ Corrected typography
  )
);

html {
  // @include mat.all-component-themes($custom-theme);

  --mdc-outlined-text-field-caret-color: tomato !important;
  --mdc-outlined-text-field-focus-outline-color: tomato !important;
  --mdc-outlined-text-field-focus-label-text-color: tomato !important;

  @include mat.button-theme($theme);
  @include mat.form-field-theme($theme);
  @include mat.input-theme($theme);
  @include mat.checkbox-theme($theme);
  @include mat.list-theme($theme);
  @include mat.chips-theme($theme);
  @include mat.button-toggle-theme($theme);
  @include mat.tabs-theme($theme);
  @include mat.tabs-overrides(
    (
      label-text-font: 'Roboto',
      active-indicator-color: tomato,
      active-focus-indicator-color: tomato,
      active-hover-indicator-color: tomato,
      inactive-hover-label-text-color: tomato,
      divider-color: tomato,
      // text
      // label-text-size: 20px,
      // label-text-weight: 600,
      active-label-text-color: tomato,
      active-focus-label-text-color: tomato,
    )
  );
}

// Apply theme to all Angular Material components

// $theme: mat.define-theme(
//   (
//     color: (
//       theme-type: dark,
//       primary: mat.$magenta-palette,
//     ),
//     typography: (
//       bold-weight: 900,
//     ),
//     density: (
//       scale: -1,
//     ),
//   )
// );
// @include mat.elevation-classes();
// @include mat.app-background();

// :root {
// }

// body {

// }
//   @include mat.all-component-themes($theme);
//   font-family: Roboto, 'Helvetica Neue', sans-serif;
//   margin: 0;
//   padding: 30px;
//   height: 100%;
// }

// html {
//   height: 100%;
// }

// @include mat.color-variants-backwards-compatibility($theme);
// @include mat.checkbox-theme($theme);
// @include mat.list-theme($theme);

// @include mat.typography($theme);

// Customize the entire app. Change :root to your selector if you want to scope the styles.
