<h1 class="page-header">Portfolio</h1>

<section
  id="portfolio"
  class="bg__black trapezoid-reverse"
>
  <div class="container">
    <div class="content width__wv">
      <div class="grid-row portfolio trapezoid-reverse">
        <div class="preview">
          <img src="assets/img/gif/sky.webp" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/american-gods.gif" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/joker.webp" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/coin.gif" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/american-gods-2.gif" />
        </div>
      </div>
      <p class="date">20<span class="year">12</span></p>
    </div>

    <div class="content width__wv">
      <div class="grid-row portfolio trapezoid-reverse">
        <div class="preview">
          <img src="assets/img/gif/sky.webp" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/american-gods.gif" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/joker.webp" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/coin.gif" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/american-gods-2.gif" />
        </div>
      </div>
      <p class="date">20<span class="year">12</span></p>
    </div>

    <div class="content width__wv">
      <div class="grid-row portfolio trapezoid-reverse">
        <div class="preview">
          <img src="assets/img/gif/sky.webp" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/american-gods.gif" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/joker.webp" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/coin.gif" />
        </div>
        <div class="preview">
          <img src="assets/img/gif/american-gods-2.gif" />
        </div>
      </div>
    </div>
    <p class="date">20<span class="year">12</span></p>
  </div>
</section>
