<section>
  <!-- <p>SDELAI TRAPEZOID PO STORONAM A NE PO TOP BOTTOM</p> -->

  <div
    #scrollContainer
    class="scroll-container"
  >
    @for (
      portfolios of portfolioList;
      track portfolios;
      let idx = $index, even = $even
    ) {
      <div class="content width__wv">
        <!-- <div class="substrate"></div> -->

        <div class="grid-row portfolio">
          @for (portfolio of portfolios; track portfolio) {
            <div
              class="preview"
              (click)="openDialog(portfolio.videoUrl)"
            >
              <img
                width="600"
                height="900"
                [ngSrc]="portfolio.preview"
                loading="lazy"
              />
            </div>
          }
        </div>
        <!-- <div class="overlay"></div> -->
      </div>
    }
  </div>

  <div class="navigation">
    <button
      class="left"
      (click)="onScrollLeft()"
      (keydown)="setScroll($event)"
      [disabled]="disabledLeft"
    >
      <!-- Arrow left -->
      <mat-icon fontIcon="navigate_next"></mat-icon>
    </button>

    <button
      class="right"
      (click)="onScrollRight()"
      (keydown)="setScroll($event)"
      [disabled]="disabledRight"
    >
      <mat-icon fontIcon="navigate_next"></mat-icon>
      <!-- Arrow right -->
    </button>
  </div>
</section>
