#portfolio {
  /* margin: 50px 0; */
  & > .container {
    & > .content {
      margin: 100px 200px;
      max-width: 100% !important;
    }
  }

  .portfolio {
    overflow: hidden;
    height: 500px;
    /* border: 1px dashed tomato; */

    div.preview {
      position: relative;
      width: 20%;
      max-width: 400px;
      /* min-width: 25%;
      border-left: 1px dashed tomato; */
      transition:
        width 1s,
        height 1s;
      transition-delay: 0.5s;

      img {
        z-index: 11;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        box-shadow: inset 0 0 100px 50px black;
      }
    }

    div.preview:hover {
      width: 50%;
      /* height: 900px; */
    }
  }
}

.year {
  text-align: center;

  &:nth-child(3) {
    color: blue;
    font-size: 900px;
  }
}

.date {
  text-align: right;
  color: white;
  padding: 0 36px;
  font-size: 24px;
  &.year {
    color: tomato;
  }
}
