<section>
  <div
    #scrollContainer
    class="scroll-container"
  >
    @for (_ of [1, 2]; track _; let idx = $index, even = $even) {
      <div class="content width__wv">
        <span class="date">Road dream pack</span>

        <!-- <div class="substrate"></div> -->

        <div
          class="grid-row portfolio"
          [ngClass]="{ trapezoid: !even, 'trapezoid-reverse': even }"
        >
          <div class="preview">
            <img
              src="assets/img/gif/sky.webp"
              loading="lazy"
            />
          </div>
          <div class="preview">
            <img
              src="assets/img/gif/american-gods.gif"
              loading="lazy"
            />
          </div>
          <div class="preview">
            <img
              src="assets/img/gif/joker.webp"
              loading="lazy"
            />
          </div>
          <div class="preview">
            <img
              src="assets/img/gif/coin.gif"
              loading="lazy"
            />
          </div>
          <div class="preview">
            <img
              src="assets/img/gif/american-gods-2.gif"
              loading="lazy"
            />
          </div>
        </div>
        <!-- <div class="overlay"></div> -->
      </div>
    }
  </div>

  <div class="navigation">
    <button
      class="left"
      (click)="onScrollLeft()"
      (keydown)="setScroll($event)"
      [disabled]="disabledLeft"
    >
      Arrow left
      <mat-icon fontIcon="navigate_next"></mat-icon>
    </button>

    <button
      class="right"
      (click)="onScrollRight()"
      (keydown)="setScroll($event)"
      [disabled]="disabledRight"
    >
      <mat-icon fontIcon="navigate_next"></mat-icon>
      Arrow right
    </button>
  </div>
</section>
