<section class="categories">
  <mat-button-toggle-group
    appearance="standard"
    (change)="changeCategory($event.value)"
  >
    @for (category of categories; track category) {
      <mat-button-toggle
        [value]="category"
        [checked]="actualCategory() === category"
      >
        {{ category }}
      </mat-button-toggle>
    }
  </mat-button-toggle-group>

  <mat-button-toggle-group
    [appearance]="'standard'"
    (change)="onUpdateGridSize($event.value)"
    [value]="gridView"
  >
    <!-- <mat-button-toggle value="1">
    <mat-icon fontIcon="splitscreen"></mat-icon>
  </mat-button-toggle> -->
    <mat-button-toggle value="2">
      <mat-icon fontIcon="splitscreen_landscape"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle
      value="3"
      checked="true"
    >
      <mat-icon fontIcon="view_column"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</section>

<br />

<mat-divider></mat-divider>

<br />

<section class="content">
  <app-portfolio-block
    [gridView]="gridView()"
    [portfolios]="portfoliosFiltered()"
  />
</section>
