<section class="content">
  <aside>
    <section class="grid-view">
      <mat-button-toggle-group
        (change)="onUpdateGridSize($event.value)"
        value="1"
      >
        <mat-button-toggle value="1">
          <mat-icon fontIcon="splitscreen"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="2">
          <mat-icon fontIcon="view_column_2"></mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="3">
          <mat-icon fontIcon="view_column"></mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </section>

    <br />

    <mat-chip-listbox
      class="mat-mdc-chip-set-stacked"
      multiple="true"
      (change)="changeCategory($event)"
    >
      @for (category of categories; track category) {
        <mat-chip-option>{{ category }}</mat-chip-option>
      }
    </mat-chip-listbox>
  </aside>

  <app-portfolio-block
    [gridView]="gridView()"
    [portfolios]="portfoliosFiltered()"
  />
</section>
