.mat-mdc-chip-set-stacked {
  width: 100%;
}

section.content {
  display: grid;
  grid-template-columns: 200px max-content;
  justify-content: center;
}

.mat-mdc-standard-chip {
  border-radius: 0;

  button::before {
    border-radius: 0 !important;
  }
}

:host {
  ::ng-deep
    .mat-mdc-standard-chip
    .mdc-evolution-chip__action--primary::before {
    color: blue;
    border-radius: 0 !important;
  }

  ::ng-deep
    mat-button-toggle-group.mat-button-toggle-group-appearance-standard {
    border-radius: 0;
    /* border: solid 1px tomato; */
  }
}
